/* Resets ...............................................*/
* {
  margin: 0;
  padding: 0;
}

/* Classes ..............................................*/
.rounded {
  border-radius: 24px;
  /* Mockup */
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 4px 4px #ffffff;
}

.grid {
  display: grid;
  grid-gap: 24px;
}

/* Sections .............................................*/
body {
  background-color: #000000;
}
main {
  padding: 24px;
  margin: auto;
  height: 752px;
  max-width: 1280px;
}

section {
  border-radius: 24px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.hero .logo-text {
 width: 100%;
}

.work {
  grid-template-rows: 32px 1fr;
}

.work .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work .calendar-text {
  width: 192px;
}

.work .smiley {
  width: 24px;
  padding: 8px;
}

.gallery {
  grid-template-columns: 1fr 1fr;
}

.info {
  border-top-left-radius: calc(50vw - 24px);
  border-bottom-right-radius: calc(50vw - 24px);
}

@media (min-width: 360px){
  main {
    height: 1000px;
  }

}
@media (min-width: 768px){
  main {
    height: 1440px;
  }

  .hero {
    padding: 24px;
  }

  .work {
    grid-template-rows: 64px 1fr;
  }
  .work .calendar-text {
    width: 400px;
  }
  .work .smiley {
    width: 56px;
    padding: 8px;
  }
}
@media (min-width: 1026px){
  main {
    height: calc(100vh  - 48px);
    grid-template-rows: 1fr 264px;
    grid-template-columns: 1fr 1fr;
  }
  .grid {
    grid-gap: 40px;
  }

  main {
    padding: 40px;
    height: calc(100vh  - 80px);
  }
}
