/* Resets ..............................................................................................*/
body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
button {
  -webkit-appearance: none;
}
/* Classes .............................................................................................*/
.rounded {
  border-radius: 24px;
}
.grid {
  display: grid;
  grid-gap: 24px;
}
/* Animations ..........................................................................................*/
@keyframes pulse {
  from {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
  to {
    transform: scale(.5);
    filter: blur(.5vw);
    opacity: .75;
  }
}
@keyframes blur {
  from {
    filter: blur(1px);
  }
  to {
    filter: blur(2vw);
  }
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 24px));
  }
}
@keyframes gradient {
  from {
    background-position:0% 0%;
    box-shadow: 0 0 4px 4px #00FCB0;
  }
  to {
    background-position:100% 100%;
    box-shadow: 0 0 4px 4px #3efb00;
  }
}
@keyframes waving {
  from {
    transform: translateX(-50%) scale(2,.75);
  }
  to {
    transform: translateX(50%) scale(2,.75);
  }
}
/* base styling ........................................................................................*/
body {
  background-color: #000000;
}
main {
  padding: 24px;
  min-height: calc(var(--vh, 1vh) * 100 - 48px);
  grid-template-rows: calc(100vw - 48px) calc(100vw - 48px) calc(75vw - 48px) calc(50vw - 48px);
}
/* hero (base)  ........................................................................................*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: relative;
  background-color: #3efb00;
  box-shadow: 0 0 4px 4px #00FCB0, 0 0 4px 4px #00FCB0 inset;
  box-sizing: border-box;
}
.hero .video-bg {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  animation: pulse 12s infinite alternate;
}
.hero .logo-text {
 width: 100%;
 z-index: 2;
 animation: blur 6s infinite alternate-reverse;
}
.hero .logo-text:first-child {
  animation: blur 6s infinite alternate;
}
/* work (base) .........................................................................................*/
.work {
  grid-template-rows: 48px 1fr;
}
.work .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 4px 4px #3efb00;
  background-color: #00FCB0;
}
.work .title-marquee {
  flex: 1;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}
.work .title-marquee .title-image {
  width: 100%;
  height: 100%;
  margin: 0 12px;
  animation: marquee 6s infinite linear;
}
.work .smiley {
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.work .carousel {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 4px #B9D2F9, 0px 0px 16px 4px #B9D2F9 inset;
}
.work .carousel a {
  -webkit-appearance: none;
  border: 0;
  background-color: transparent;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 15%;
  height: 15%;
  transform-origin: center center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(.8);
  transition: transform .25s, opacity .25s;
}
.work .carousel .arrow-left {
  left: 8px;
  cursor: w-resize;
  background-image: url('assets/arrow-left.png');
}
.work .carousel .arrow-right {
  right: 8px;
  cursor: e-resize;
  background-image: url('assets/arrow-right.png');
}
.work .carousel img {
  position: absolute;
  height: auto;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 3s;
}
.work .carousel img.active {
  opacity: 1;
}
.work .carousel .red-shadow {
  box-shadow: 0 0 24px 16px #E93D28;
}
.work .carousel .pink-shadow {
  box-shadow: 0 0 24px 16px #ff5e79;
}
.work .carousel .blue-shadow {
  box-shadow: 0 0 24px 16px blue;
}
.work .carousel .purple-shadow {
  box-shadow: 0 0 24px 16px #00FCB0;
}
/* gallery (base) ......................................................................................*/
.gallery {
  grid-template-columns: 1fr 1fr;
}
.gallery .pannel {
  overflow: hidden;
  position: relative;
}
.gallery .pannel.left {
  background-color: #FFD674;
  box-shadow: 0 0 2px 2px #E93D28, 0 0 2px 2px #E93D28 inset;
}
.gallery .pannel.right {
  background-color: #E93D28;
  box-shadow: 0 0 2px 2px #FFD674, 0 0 2px 2px #FFD674 inset;
}
.gallery img {
  width: 100%;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}
.gallery .x-ray-cat {
  opacity: 0;
}
.gallery .pannel:hover {
  cursor: none;
  background-color: #000000;
  box-shadow: 0 0 2px 2px #3efb00, 0 0 2px 2px #3efb00 inset;
}
.gallery .pannel:hover .x-ray-cat {
  opacity: 1;
}
/* info (base) .........................................................................................*/
.info {
  border-top-left-radius: calc(50vw - 24px);
  border-bottom-right-radius: calc(50vw - 24px);
  background: linear-gradient(#B9D2F9 0%, #00FCB0 100%);
  box-shadow: 0px 0px 4px 4px #B9D2F9, 0px 0px 4px 4px #B9D2F9 inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info h3 {
  font-size:12px;
  font-weight: normal;
  background-color: yellow;
  padding: 2px;
  text-align: center;
  box-shadow: 0 4px 24px #5e718f, 0 4px 4px 4px #B9D2F9 inset, 0 -2px 4px pink inset;
  transition: transform .25s;
}
.infinity {
  color:#3efb00;
  font-size:16px;
  text-align: center;
  margin: auto;
  text-shadow: blue 3px 3px;
  height: 16px;
  filter: blur(1px);
  opacity: .33;
  max-width: 100px;
  animation: waving alternate-reverse infinite 4s;
  transition: filter .5s, opacity .5s;
  user-select: none;
}
.infinity:nth-child(2) {
  animation-delay: .1s;
}
.infinity:nth-child(3) {
  animation-delay: .2s;
}
.infinity:nth-child(5) {
  animation-delay: .3s;
}
.infinity:nth-child(6) {
  animation-delay: .4s;
}
.infinity:last-child {
  animation-delay: .5s;
}
.info button {
  display: block;
  margin: 8px;
  border: 0;
  font-size: 16px;
  padding: 8px 24px;
  border-radius: 24px;
  line-height: 1;
  color: #0000ff;
  box-shadow: 0 4px 16px #5e718f, 0 -4px 16px #B9D2F9 inset;
  opacity: .8;
  cursor: pointer;
  transition: opacity .25s, transform .25s, box-shadow .25s, color .25s;
}
.info .social-links {
  height: 32px;
  display: flex;
  justify-content: center;
}
.info .social-link {
  flex-grow: 0;
  padding: 0 2px;
  opacity: .8;

}
.info .social-link:hover {
  opacity: 1;
  filter: invert(1)
}
.info .social-link img {
  width: 100%;
  height: 100%;
}
.info button#email-open {
  margin-right: auto;
  margin-left: 8px;
  color: rgb(221, 101, 121);
}
.info button:hover {
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 0 0px 64px #0000ff, 0 -4px 16px #B9D2F9 inset;
}
/* paypal modal (base) .................................................................................*/
body:not(.loaded) .paypal-modal {
  display: none;
}
.paypal-modal {
  opacity: 0;
  transform: scale(0) translate(-50%, -50%);
  pointer-events: none;
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #fff;
  width: calc(100vw - 48px);
  height: 480px;
  max-width: 700px;
  overflow: scroll;
  box-shadow: 0 24px 128px 28px #ffff00, 0 -4px 64px 28px #0000ff, 0 -4px 16px #d6d6d6 inset;
  transform-origin: left top;
  transition: opacity .25s, transform .25s;
  display: flex;
  flex-direction: column;
}
.paypal-modal .top-bar {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  box-shadow: 0 2px 8px #ffffff inset, 0 -2px 16px #9c9c9c inset;
  background-color: #d6d6d6;
  display: flex;
  align-items: center;
  height: 64px;
  top: 0;
  z-index: 200;
  position: sticky;
  top: 0;
}
.paypal-modal .top-bar p {
  flex: 1;
  text-align: center;
  font-weight: normal;
  max-width: 50vw;
  margin: auto;
}
.paypal-modal #modal-close {
  position: absolute;
  right: 24px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 32px;
  line-height: 1;
  color: #E93D28;
  background-color: pink;
  box-shadow: 0 0 8px #E93D28 inset;
  transition: color .25s, background-color .25s, box-shadow .25s;
}
.paypal-modal #modal-close svg {
  fill: #E93D28;
  width: 50%;
}
.paypal-modal #modal-close:hover {
  fill: pink;
  background-color: #E93D28;
  box-shadow: 0 0 8px 4px pink inset,  0 0 16px 2px #E93D28;
}
.paypal-modal #modal-close:hover svg {
  fill: pink;
}
.modal-open {
  overflow: hidden;
  background-color: lemonchiffon;
}
#smart-button-container {
  padding: 24px;
}
.modal-open main {
  filter: blur(1vw);
  pointer-events: none;
}
.modal-open .arrow-left,
.modal-open .arrow-right,
.modal-open main img,
.modal-open .info > *{
  display: none;
}
.modal-open .paypal-modal {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
  display: block;
}
/* tablet+ styling .....................................................................................*/
@media (min-width: 720px) {
  main {
    grid-template-rows: 700px 700px calc(50vw - 48px) calc(50vw - 48px);
  }
  /* info (tablet+) ....................................................................................*/
  .info button {
    font-size: 24px;
  }
}
/* desktop+ styling ....................................................................................*/
@media (min-width: 1024px){
/* animations (desktop+) ...............................................................................*/
  @keyframes blur {
    from {
      filter: blur(1px);
    }
    to {
      filter: blur(1.5vw);
    }
  }
  @keyframes marquee {
    from {
      transform: translateX(0)
    }
    to {
      transform: translateX(calc(-100% - 48px));
    }
  }
/* sections (desktop+) .................................................................................*/
  main {
    padding: 40px;
    min-height: calc(var(--vh, 1vh) * 100 - 80px);
  }
/* classes (desktop+) ..................................................................................*/
  .grid {
    grid-gap: 40px;
  }
  .rounded {
    border-radius: 40px;
  }
/* work (desktop+) .....................................................................................*/
  .work {
    grid-template-rows: 64px 1fr;
  }
  .work .title-marquee .title-image {
    margin: 0 24px;
  }
  .work .carousel a {
    opacity: .9;
  }
  .work .carousel a:hover {
    opacity: 1;
    transform: scale(1, 1.2) translateY(-50%);
  }
  .work .carousel a:active {
    filter: invert(1);
  }
/* info (desktop+) .....................................................................................*/
  .info {
    border-top-left-radius: calc(50vw - 40px);
    border-bottom-right-radius: calc(50vw - 40px);
  }
  .info button {

    padding: 8px 40px;
    border-radius: 40px;
    font-size: 32px;
  }
  .info h3 {
    font-size: 18px;
  }
  .info h3:hover {
    transform: scale(2);
    cursor:none;
    color: white;
    background-color: #E93D28;
    box-shadow: 0 4px 24px #5e718f, 0 4px 4px 4px black inset, 0 -2px 4px pink inset;
  }
  .info .purchase-info:hover .infinity {
    filter: blur(0);
    opacity: 1;
  }
  .info .social-links {
    height: 64px;
    margin: auto;
  }
/* gallery (desktop+) ..................................................................................*/
  .gallery .pannel.left {
    box-shadow: 0 0 4px 4px #E93D28, 0 0 4px 4px #E93D28 inset;
  }
  .gallery .pannel.right {
    box-shadow: 0 0 4px 4px #FFD674, 0 0 4px 4px #FFD674 inset;
  }
  .gallery .pannel:hover {
    box-shadow: 0 0 4px 4px #3efb00, 0 0 4px 4px #3efb00 inset;
  }
}
/* landscape styling ...................................................................................*/
@media (orientation: landscape){
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
  }
}
/*  desktop++ styling ..................................................................................*/
@media (min-width: 1280px){
  main {
    margin: auto;
    max-width: 1440px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
  }
  .gallery,
  .work,
  .info,
  .hero {
    grid-row: auto;
    grid-column: auto;
  }
}
@media (min-width: 2000px) and (min-height: 1500px) {
  main {
    max-width: 2000px;
  }
}