* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

main {
  padding: 32px;
  height: calc(100vh - 48px);
  /* display: grid; */
  grid-template-rows: 1fr 80px;
  grid-gap: 40px;
  max-width: 1000px;
}


/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  position: relative;
  max-height: 60vw;
  height: 100%;

}

.logo-text {
  object-fit: contain;
  width: calc(100% - 8px);
  filter: blur(2px);
  z-index: 2;
}

.infinity-rock-gif {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  animation: pulse 12s infinite alternate;
}

/* Bottom nav section */
.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3efb00; 
  box-shadow: 0 0 8px 8px #3efb00; 
}

.bottom-nav a {
  color: blue;
  background-color: #e8e5fc;
  box-shadow: 0 0 1vw  #777683 inset, 0 0 2vw  #777683; 
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  opacity: .75;
  text-decoration: underline;
  transition: transform .5s, opacity .5s, box-shadow .5s;
}

.bottom-nav a:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0 0 1vw  #777683 inset, 0 0 2vw  blue; 
}

.blurred-green {
  border-radius: 24px;
  background-color: #3efb00;
  box-shadow: 0 0 8px 8px #3efb00; 
}

/* Small and up */
@media (min-width: 360px ) {

}

/* Medium and up */
@media (min-width: 768px) {
  main {
    /* padding: 80px; */
    height: calc(100vh - 160px);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
  }

  .hero {
    /* max-height: unset; */
  }

  .bottom-nav {
    padding: 16px;
  }

  .blurred-green  {
    border-radius: 32px;
  }

  .logo-text {
    width: calc(100% - 40px);
  }
}

/* Large and up */
@media (min-width: 1024px) {

}

@keyframes pulse {
  from {
    transform: translateY(-50%);
    filter: blur(0);
    opacity: 1;
  }
  to {
    transform: translateY(-50%) scale(.5);
    filter: blur(.5vw);
    opacity: .75;
  }
}